<div class="container ii">
  <div class="row justify-content-center">
    <div class="col-10 gg">
      <form>
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword">
        <input type="submit" value="Submit" class="btn">
      </form>
    </div>
    <div class="col-10 hh">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created User</th>
            <th scope="col">Type</th> 
            <th scope="col">Phone</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th scope="row"><%= user.id %></th>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td>By_ME</td>
              <td>Male</td>
              <td><%= user.phone %></td>
              <td>3-6-1999</td>
              <td>kan daw lay</td>
              <td>
                <%= link_to "Edit" , edit_user_path(user.id) , class: "btn btn-secondary" %>
                <%= link_to "Delete" , user_path(user.id) ,data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } , class: "btn btn-secondary" %>
                <%= button_tag "Detail", type: "Button", class: "btn btn-success d2p-s"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>