<!DOCTYPE html>
<html>
  <head>
    <title>BulletinBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "layouts/style" %>
  </head>

  <body>
    <div class="center-adjust">
      <header id="header">
        <div class="row justify-content-between">
          <div class="col-4 h-left">
            <a herf="#">BulletinBoard</a>
            <a herf="#">Users</a>
            <%= link_to "Posts" , posts_path %>
          </div>
          <div class="col-4 h-right">
            <a herf="#">Create User</a>
            <div class="dropdown dropdown-box">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu">
                <li><a class="p-2" href="#">Profile</a></li>
                <li><a class="p-2" href="#">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <%= yield %>

      <footer id="footer">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-4 f-left">
              <h2>Seattle consulting Myanmar</h2>
            </div>
            <div class="col-6 f-right">
              <h4>Copyright &#169; Seattle Consulting Myanmar Co., Ltd. All rights reserved.</h4>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
